<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title> Heart Disease | Nidan</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/forms.css">

</head>
<body>

<div class="container">
  <div class="title">Heart Disease</div>
  <form target="_blank" action="#" method="POST" name="heartdisease">
    <div class="user__details">
      {%csrf_token%}

      <div class="input__box" >
        <span class="details">Chest Pain</span>
        <div class="select">
          <select name="cp">
              <option>--Select--</option>
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box" >
        <span class="details">No. of major vessels</span>
        <div class="select">
          <select name="ca">
              <option>--Select--</option>
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

     

      
      

      <div class="input__box" >
        <span class="details">Sex</span>
        <div class="select">
          <select name="sex">
              <option>--Select--</option>
              <option>Male</option>
              <option>Female</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>


      <div class="input__box" >
        <span class="details">Age</span>
        <input type="number"  name="age" placeholder="">
      </div> 

      <div class="input__box" >
        <span class="details">Resting Blood Pressure</span>
        <input type="number" name="trestbps"  placeholder="">
      </div> 

      <div class="input__box" >
        <span class="details">Thalassemia</span>
        <input type="number"  name="thal" placeholder="">
      </div>

      <div class="input__box" >
        <span class="details">Fasting Blood Sugar</span>
        <input type="number"  name="fbs" placeholder="">
      </div>

      <div class="input__box" >
        <span class="details">Resting ECG</span>
        <input type="number"  name="restecg"  placeholder="">
      </div>

      <div class="input__box">
        <span class="details">Max Heart Rate</span>
        <input type="number"   name="thalach" placeholder="">
      </div>


      <div class="input__box" >
        <span class="details">Exercise induced angina</span>
        <div class="select">
          <select name="exang">
              <option>--Select--</option>
              <option>Yes</option>
              <option>No</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box" >
        <span class="details">ST Depression</span>
        <input type="number"  name="oldpeak" placeholder="">
      </div>

      <div class="input__box" >
        <span class="details">Slope of peaak exercise</span>
        <input type="number"  name="slope" placeholder="">
      </div>

      <div class="input__box" >
        <span class="details">Cholestrol</span>
        <input type="number"  name="chol" placeholder="">
      </div>

     

      

      

      

    </div>
    
    <div class="button">
    
        <input type="submit" value="Diagnose">
    

    </div>

    <div class="button" style="margin-top: -1rem;">
    
      <input type="submit" value="Back to selection">
  

  </div>
  </form>
  <footer>
    <p class="footer__copy">&#169; 2023 Nidan. All right reserved</p>
  </footer>
</div>

  
</body>
</html>
