<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Stroke | Nidan</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/forms.css">

</head>
<body>

<div class="container">
  
  <div class="title">Mental Health (Students)</div>
  <form method="POST" name="mentalhealthstudents">
    {%csrf_token%}
      
    <div class="user__details">
      

      <div class="input__box" >
        <span class="details">Sex</span>
        <div class="select">
          <select name="Choose your gender">
              <option>--Select--</option>
              <option>Male</option>
              <option>Female</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

        <div class="input__box" >
        <span class="details">Age</span>
        <input type="number" name="age"  placeholder="">
      </div> 


      <div class="input__box" >
        <span class="details">What is your course?</span>
        <input type="text" name="What is your course?"  placeholder="">
      </div>

      <div class="input__box" >
        <span class="details">Your current year of study?</span>
        <input type="number" name="Your  current year of Study" placeholder="">
      </div> 

  

      <div class="input__box" >
        <span class="details">What is your CGPA?</span>
        <input type="number" name="What is your CGPA?" placeholder="">
      </div>

      <div class="input__box" >
        <span class="details">Do you have Anxiety?</span>
        <div class="select">
          <select name="Do you have Anxiety?">
              <option>--Select--</option>
              <option>No</option>
              <option>Yes</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box" >
        <span class="details">Do you have Panic attack?</span>
        <div class="select">
          <select name="Do you have Panic attack?">
              <option>--Select--</option>
              <option>No</option>
              <option>Yes</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      
      <div class="input__box" >
        <span class="details">Did you seek any specialist?</span>
        <div class="select">
          <select name="Did you seek any specialist for a treatment?">
              <option>--Select--</option>
              <option>No</option>
              <option>Yes</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>


     

      

      

      

    </div>
    
    <div class="button">
    
        <input type="submit" value="Diagnose">
    

    </div>

    <div class="button" style="margin-top: -1rem;">
    
      <input type="submit" value="Back to selection">
  

  </div>

    

   
  </form>
  <footer>
    <p class="footer__copy">&#169; 2023 Nidan. All right reserved</p>
  </footer>
</div>



  
</body>
</html>
